<form action="/api/users/auth/bet" method="POST" class="bet-form px-5">
    <input class="bet-input row mt-3 ms-1 form-control" name="amount" type="number" step="any" min="2" max="{{balance}}" value="2"placeholder="Enter Bet Amount up to {{balance}}">
    <input type="hidden" name="odds" value="{{odds}}"> <!-- Hidden input field for odds -->
    <input type="hidden" name="event_id" value="{{event_id}}">
    {{#each choices}}
    <div class="form-check form-check-inline mt-3 ms-1">
        <input class="form-check-input" type="radio" id="{{this}}" name="bet_name" value="{{this}}">
        <label class="form-check-label" for="{{this}}">{{this}}</label>
    </div>
    {{/each}}
    <button class="btn btn-success row mt-3 ms-1 form-control" id="bet-btn" type="submit">Place Bet</button>
</form>