<main class="d-flex row p-5" id="user-background">
  <h2 class="text-center pt-5">User Account Information</h2>
  <section id="user-info-display">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            Account
          </div>
          <div class="card-body">
            <h5 class="card-title">Username: {{user.username}}</h5>
            <p class="card-text">Credit Balance:
              <span class="text-success">{{user.balance}}</span></p>
            <p class="card-text">Email:
              <span class="text-success">{{user.email}}</span></p>
            <a href="/updateuser" class="btn btn-primary">Update Account Information</a>
            <a href="/deleteuser" class="btn btn-danger">Delete Account</a>
          </div>
        </div>
        <div id="user-quote" class="card mt-3">
            <div class="card-header">
            Motivational Quote
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0" id="quoteDisplay">
                <p>Need some motivation? Click the button below to get some sage perspective about winning.</p>
                </blockquote>
                <div class="pt-3">
                    <button class="btn btn-success" onclick="newQuote()">Generate Quote</button>
                </div>
            </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            Bets & Gaming
          </div>
          <div class="card-body">
            <h5 class="card-title">Recent Bet History for: {{user.username}}</h5>

            <table class="table table-sm table-dark">
              <thead>
                <tr>
                  <th scope="col">Bet ID</th>
                  <th scope="col">Bet Name</th>
                  <th scope="col">Bet Odds</th>
                  <th scope="col">Bet Amount</th>
                  <th scope="col">Payout</th>
                  <th scope="col">Net</th>
                </tr>
              </thead>
              <tbody>
                {{#each bets}}
                  <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.odds}}</td>
                    <td>{{this.amount}}</td>
                    <td>{{this.payout}}</td>
                    <td>{{this.net}}</td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
            
            <a href="/play" class="btn btn-success">Play More Games</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<script src="/assets/js/quotes.js"></script>